*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
outline:none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;}
.class101{
    background: linear-gradient(45deg,rgb(167, 6, 105), rgb(66, 60, 64));
    padding: 15px 9%;
    padding-bottom: 100px;
}
.class101 .hclass10{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.class101 .class10box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 15px;
    
}
.class101 .class10box .gten{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    padding:30px 20px;
    background-color:white;
    text-align: center;
}
.imgten{
    height:150px;
}
.hsub{
    font-size:22px;
    padding: 10px 0;
}
.abtn{
    margin-top: 10px;
    display: inline-block;
    color:white;
    font-size: 17px;
    border-radius: 5px;
padding:8px 25px;    background-color: rgb(167, 6, 105);
}
